meta(name="description" content="%Dành cho hơn 1000 MFasters đã tạo thu nhập đầu tiên thành công với MFast!%")
meta(name="keywords" content!="%keywords%")
meta(name="title" content="%MFast - Giới thiệu nhiều nhận tiền triệu%")
link(rel="canonical" href="https://lucky-draw.mfast.vn")
